<!DOCTYPE html>
<html>
  <head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>StashControl</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css">
   <script src="https://cdn.plot.ly/plotly-3.1.0.min.js" charset="utf-8"></script>
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
  </head>
  <body>
  <section class="section">
	<div class="container">
	  <h1 class="title">
		Hello {{ request.user }}
	  </h1>
	  <p class="subtitle">
		Your medicinal cannabis flower usage
	  </p>
	</div>
	<div id="burndown" style="width:1200px;height:400px;"></div>
	<div id="grams" style="width:1200px;height:400px;"></div>
	<div id="cost" style="width:1200px;height:400px;"></div>
	<div id="cannabinoids" style="width:1200px;height:400px;"></div>
  </section>
  {{ measurements|json_script:"tracker-data" }}
<script>
$.getJSON("/feed/", feedCallBack);
$.getJSON("/grams/", gramsCallBack);
$.getJSON("/cost/", costCallBack);
$.getJSON("/cannabinoids/", cannabinoidsCallBack);

function feedCallBack(data)
{
	div = document.getElementById('burndown');
	Plotly.newPlot( div, data);
}

function gramsCallBack(data)
{
	div = document.getElementById('grams');
	Plotly.newPlot( div, data);
}

function costCallBack(data)
{
	div = document.getElementById('cost');
	Plotly.newPlot( div, data);
}

function cannabinoidsCallBack(data)
{
	div = document.getElementById('cannabinoids');
	Plotly.newPlot( div, data);

}
  </script>
  </body>
</html>